.app {
  text-align: center;
  padding: 20px;
}

.user-card {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 40px;
  background-color: #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.user-info {
  font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 10px;
}

p {
  color: #666;
}